/*========================  Mobile  ========================*/
@media screen and (max-width: 400px) {
.for_lft {
	padding: 17px 7px;
}
.for_rit {
	padding: 17px 7px;
}
.date_sec {
	width: 100%;
}
.user_name {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.main_tittle h1 {
	font-size: 22px;
	margin-left: 75px;
}
#section_top {
	padding-bottom: 0;
}
.mob_privew {
	display: block;
	list-style: none;
	margin: 45px 0;
	padding: 0;
}
.mob_privew li {
	margin: 5px 0;
}
.mob_privew li a {
	opacity: 1;
	box-shadow: 0px 0px 44px #ccc;
	display: block;
}
.mob_privew li a:hover {
	opacity: 0.85;
	box-shadow: 0px 0px 25px #ccc;
}
.copy_right {
	width: 100% !important;
	float: none;
	margin-bottom: 15px;
}
.home_icn {
	width: 100%;
}
.banner_mob {
	display: block;
}
.banner_pic {
	display: none;
}
#circle {
	display: none;
}
.main_tittle h1 {
	display: none;
}
.live-tile a {
	width: 132px !important;
	height: 134px !important;
}
.first_grid {
	margin-left: 0 !important;
}
.sign_outsec {
	padding: 14px 5px !important;
}
.user_details {
	position: relative;
}
.user_profile {
	font-size: 14px;
}
.last_login {
	font-size: 11px;
}
#section_banner {
	padding: 18% 0 !important;
}
.sign_inbtn {
	padding: 5px 79px;
	width: 100%;
	position:relative;
	left:10px;
}
.chec_part{
	margin-left:0;
	margin-top:20px;
	}
.login_box{
	margin-top:30px;
	position:static;
	margin-bottom:30px;
	}
.email_login{
	margin-top:100px !important;
	position:static !important;
	height:370px !important;
	margin-bottom:30px !important;
	
	}
.login_frm{
	margin-top:100px !important;
	position:static !important;
	height:370px !important;
	margin-bottom:30px !important;
	
	}
}



/*========================  Tab mini  ========================*/
@media (max-width: 767px) {
.field_section_lft {
	float: none;
	background: none;
	width: 100%;
}
.field_section_rit {
	float: none;
	background: none;
	width: 100%;
}
.signin_sec {
	padding: 10px 10px;
}
.sign_inbtn {
	padding: 5px 79px;
	width: 100%;
	position:relative;
	left:10px;
}
.login_box {
	width: 100%;
	box-shadow: none;
	top:30px;
}
.logosub {
	position: absolute;
	top: -155px;
	width: 86px;
	height: 128px;
	z-index: 999;
}
.login_frm {
	width: 100%;
	left: 0;
	margin: 0;
	padding: 0;
	height:330px;
	margin-top:130px;
	position:static;
	margin-bottom:30px !important;
	z-index: 1;
}
.user_id {
	padding-bottom: 22%;
}

.email_login {
	width: 100%;
	left: 0;
	margin: 0;
	padding: 0;
	height:450px;
	margin-top:0px;
	position:static;
	margin-bottom:0px !important;
	z-index: 1;
}
.pincontainer {
	display: none;
}
.copy_right {
	width: 30%;
}
.banner_mob {
	display: block;
}
.banner_pic {
	display: none;
}
#circle {
	display: none;
}
.tile-group, .tile-strip {
	width: 80% !important;
}
.dash_bord {
	display: none;
}
.myFlipList {
	left: 0;
	width: 100%;
}
.live-tile a {
	width: 100px;
	height: 100px;
}
.first_grid {
	margin-left:0;
}
.main_tittle h1 {
	text-align: left;
	margin-left: 55px;
	font-size: 18px;
}
#section_banner {
	padding: 8% 0;
}
.sign_outsec {
	padding: 14px 5px !important;
}
.sign_outsec a {
	padding: 3px 10px;
}
}


/*========================  Tab portarit  ========================*/
@media (min-width: 768px) and (max-width: 991px) {

.pincontainer {
	top: 0;
	left: 0;
}
.copy_right {
	width: 35%;
}
#circle {
	display: none;
}
.banner_pic {
	display: none;
}
.banner_mob {
	display: block;
}
.live-tile, .list-tile, .copy-tile, .tile-strip .flip-list > li {
	width: 133px;
	height: 133px;
}
.myFlipList {
	left: 3%;
}
#section_banner {
	padding: 8% 0;
}
.main_tittle h1 {
	text-align: left;
	margin-left: 55px;
}
.features_panel{
	margin-right:30%;
	width:350px;}
#searchform input#s, input#author, input#email, input#url, #comment, input#contactName, #commentsText{
	width:160px;
	}
.sign_outsec_adm{
	padding:16px 5px 14px 5px !important;
	margin-left:8px !important;
	}
.name_detail_adm{
	margin-left:5px !important;
	}
.sign_outsec_adm a{
	padding:3px 10px;
	}
.user_name_adm{
	padding:0 5px;
	}
.last_login_adm{
	font-size:10px;
	
	}
.user_profile_adm{
	font-size:12px;}
.entypo_sml a{
	padding:0 10px;}
#adm_sec02 h1{
	margin-left:77px;
	}

}

/*========================  1024 re small scree  ========================*/
@media (min-width: 992px) and (max-width: 1199px) {
.pincontainer {
	top: 2%;
	left: 6%;
}
.banner_pic {
	position: relative;
	z-index: 999;
}
#circle {
	top: -35px;
	width: 346px;
}
.tile-group, .tile-strip {
	left: 13% !important;
}
.live-tile, .list-tile, .copy-tile, .tile-strip .flip-list > li {
	width: 132px !important;
	height: 132px !important;
}
/*	===========temp  style for admin bor below==========
*/

.sec_lftnav li {
	font-size: 12px;
}
.lft_label {
	width: 45px;
	padding-left: 5px;
	padding-right: 5px;
}
.admin_body {
	background: #fff;
}
.myFlipList {
	left: 14.6%;
}

.features_panel{
	margin-right:37%;
	width:380px;}


#searchform input#s, input#author, input#email, input#url, #comment, input#contactName, #commentsText{
	width:160px;
	}
.sign_outsec_adm{
	padding:16px 5px 14px 5px !important;
	margin-left:8px !important;
	}
.name_detail_adm{
	margin-left:5px !important;
	}
.sign_outsec_adm a{
	padding:3 10px;}
.user_name_adm{
	padding:0 5px;
	}
.last_login_adm{
	font-size:10px;
	
	}
.user_profile_adm{
	font-size:12px;}

}

/*========================  1200 re large scree  ========================*/
@media (min-width: 1200px) {
}
