/* invalid input */
.bvalidator_invalid {
	background-color: #FFF !important;
}
/* error message */
.bvalidator_errmsg {
	background-color: #F33;
	font-size: 10px;
	border: 1px solid #900;
	color: #FFF;
	display: none;
	white-space: nowrap;
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-left: 5px;
	font-family: Arial, Helvetica, sans-serif;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	opacity: 0.9;
	filter: alpha(opacity=90);
	font-weight:bold;
	z-index:5;
}
/* close icon */
.bvalidator_errmsg .bvalidator_close_icon {
	margin-left: 5px;
	margin-top: -2px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	color: #900;
	cursor: pointer;
	font-size:12px;
}
/* arrow */
.bvalidator_errmsg em {
	display: block;
	border-color: #F33 transparent transparent;
	border-style: solid;
	border-width: 10px 10px 0;
	height: 0;
	width: 0;
	position: absolute;
	bottom: -10px;
	left: 5px
}
